<h1>Room Listing for a room</h1>

<table>
  <tr>
    <th>Room Number</th>
    <th>Vacancy</th>
    <th>See More...</th>
    <th>
  </tr>
 
  <% @rooms.each do |room| %>
    <tr>
      <td><%= room.room_number %></td>
      <td><%= room.vacant %></td>
      <td><%= link_to 'See More', room_path(room.id) %></td>
    </tr>
  <% end %>
</table>