<h1>List of Rooms at <%= @hotel.name %></h1>

<% rooms = @hotel.rooms.sort_by &:room_number %>

<% rooms.each do |room| %>

<%= link_to room.room_number, hotel_room_path(@hotel, room) %>

<% end %>

<br><br>

<%= link_to 'Back', hotel_path(@hotel) %>
