<h1>All of your local hotels!</h1>

  <% @hotels.each do |hotel| %>
    Name: <%= hotel.name %>
    <br>
    Number of Rooms: <%= hotel.rooms.count %>
    <br>
  <% end %>

<% link_to 'Make a New Hotel!', new_hotel_path %>